#root {
  margin: 0 auto;
}

.nav-logo {
  clip-path: inset(0);
  width: 180px;
  height: auto;
}

nav .nav-link, .btn {
  transition: all 0.3s ease-in-out;
}

nav .nav-link {
  color: #051939;
  border-bottom: 2px solid transparent;
}

nav .nav-link:hover, 
nav .nav-link:focus-visible {
  border-bottom: 2px solid #0d47a1;
  color: #2196f3 !important;
  cursor: pointer;
}

footer .nav-link:hover, 
footer .nav-link:focus-visible {
  color: #2196f3 !important;
  cursor: pointer;
}

.btn-outline-dark {
  --bs-btn-color: #051939;
  --bs-btn-border-color: #051939;
  --bs-btn-hover-bg: #051939;
  --bs-btn-hover-border: #051939;
}

.explore-btn {
  border: 2px solid transparent;
}

.explore-btn:hover, .explore-btn:focus {
  border: 2px solid #e3f2fd;
}

.hero {
  background-image: url('./assets/reading.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 35%;
}

.col-image-left, 
.col-image-right {
  background-repeat: no-repeat;
  background-size: cover;
}

.col-image-left {
  background-image: url("./assets/night-sky.svg");
  height: 25em !important;
}

.col-image-right {
  background-image: url("./assets/plant.svg");
  height: 25em !important;
}

.lost {
  background-image: url("./assets/lost.svg");
    height: 25em !important;
    width: "720"
}