#root {
  margin: 0 auto;
}

.nav-logo {
  clip-path: inset(0);
  width: 180px;
  height: auto;
}

nav .nav-link, .btn {
  transition: all 0.3s ease-in-out;
}

nav .nav-link {
  color: #051939;
  border-bottom: 2px solid transparent;
}

nav .nav-link:hover, 
nav .nav-link:focus-visible {
  border-bottom: 2px solid #0d47a1;
  color: #2196f3 !important;
  cursor: pointer;
}

footer .nav-link:hover, 
footer .nav-link:focus-visible {
  color: #2196f3 !important;
  cursor: pointer;
}

.btn-outline-dark {
  --bs-btn-color: #051939;
  --bs-btn-border-color: #051939;
  --bs-btn-hover-bg: #051939;
  --bs-btn-hover-border: #051939;
}

.explore-btn {
  border: 2px solid transparent;
}

.explore-btn:hover, .explore-btn:focus {
  border: 2px solid #e3f2fd;
}

.hero {
  background-image: url('./assets/reading.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 35%;
}

.col-image-left, 
.col-image-right {
  background-repeat: no-repeat;
  background-size: cover;
}

.col-image-left {
  background-image: url("./assets/night-sky.svg");
  height: 25em !important;
}

.col-image-right {
  background-image: url("./assets/plant.svg");
  height: 25em !important;
}

.lost {
  background-image: url("./assets/lost.svg");
    height: 25em !important;
    width: "720"
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
